*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone-version
.plone.version*
.project
.pydevproject
.settings/
bin/
CACHEDIR.TAG
checkversion*.html
include/
lib/
develop-eggs/
parts/
src/*
!src/collective/
var/
buildout-cache/
