[buildout]
always-checkout = force
auto-checkout +=
    collective.compoundcriterion
    collective.dms.scanbehavior
    collective.eeafaceted.batchactions
    collective.eeafaceted.collectionwidget
    collective.eeafaceted.dashboard
    collective.eeafaceted.z3ctable
    collective.iconifiedcategory
    collective.js.tooltipster
    eea.facetednavigation
    imio.actionspanel
    imio.annex
    imio.dashboard
    imio.history
    imio.migrator
    plone.formwidget.masterselect

[remotes]
imio = https://github.com/imio
imio_push = git@github.com:imio
plone = https://github.com/plone
plone_push = git@github.com:plone
collective = https://github.com/collective
collective_push = git@github.com:collective

[sources]
collective.compoundcriterion = git ${remotes:collective}/collective.compoundcriterion.git pushurl=${remotes:collective_push}/collective.compoundcriterion.git branch=plone6-chris-adam
collective.dms.scanbehavior = git ${remotes:collective}/collective.dms.scanbehavior.git pushurl=${remotes:collective_push}/collective.dms.scanbehavior.git branch=python3-chris-adam
collective.eeafaceted.batchactions = git ${remotes:imio}/collective.eeafaceted.batchactions.git pushurl=${remotes:imio_push}/collective.eeafaceted.batchactions.git branch=python3-chris-adam
collective.eeafaceted.collectionwidget = git ${remotes:collective}/collective.eeafaceted.collectionwidget.git pushurl=${remotes:collective_push}/collective.eeafaceted.collectionwidget.git branch=python3-chris-adam
collective.eeafaceted.dashboard = git ${remotes:collective}/collective.eeafaceted.dashboard.git pushurl=${remotes:collective_push}/collective.eeafaceted.dashboard.git branch=python3-chris-adam
collective.eeafaceted.z3ctable = git ${remotes:imio}/collective.eeafaceted.z3ctable.git pushurl=${remotes:imio_push}/collective.eeafaceted.z3ctable.git branch=plone6_duchenean-chris-adam
collective.iconifiedcategory = git ${remotes:imio}/collective.iconifiedcategory.git pushurl=${remotes:imio_push}/collective.iconifiedcategory.git branch=python3-chris-adam
collective.js.tooltipster = git ${remotes:collective}/collective.js.tooltipster.git pushurl=${remotes:collective_push}/collective.js.tooltipster.git branch=plone61-chris-adam
# develop-chris-adam: faceted bundles no longer load_async (16.4 bug), not released yet
eea.facetednavigation = git https://github.com/chris-adam/eea.facetednavigation.git pushurl=git@github.com:chris-adam/eea.facetednavigation.git branch=develop-chris-adam
imio.actionspanel = git ${remotes:imio}/imio.actionspanel.git pushurl=${remotes:imio_push}/imio.actionspanel.git branch=plone6-chris-adam
imio.annex = git ${remotes:imio}/imio.annex.git pushurl=${remotes:imio_push}/imio.annex.git branch=plone6
imio.dashboard = git ${remotes:imio}/imio.dashboard.git pushurl=${remotes:imio_push}/imio.dashboard.git branch=python3-chris-adam
imio.history = git ${remotes:imio}/imio.history.git pushurl=${remotes:imio_push}/imio.history.git branch=plone6-chris-adam
imio.migrator = git ${remotes:imio}/imio.migrator.git pushurl=${remotes:imio_push}/imio.migrator.git branch=plone6.1-chris-adam
plone.formwidget.masterselect = git ${remotes:collective}/plone.formwidget.masterselect.git pushurl=${remotes:collective_push}/plone.formwidget.masterselect.git branch=master
